langchain
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
langchain-groq

chromadb
sentence-transformers

requests
beautifulsoup4
lxml

python-dotenv

jupyter
ipykernel
ipywidgets

tqdm
rich
